# Python
*.pyc
.virtualenv
venv/
build/
dist/
*.egg-info/
# Wikibot
throttle.ctrl
apicache/
# Cache
src/cache/*.json
src/oabot/templates/change_*.html
# Secret
zotero_cache_key.txt
# Toolsforge config
uwsgi.ini
