<!doctype html>
<html>
    <head>
        <title>OAbot</title>
        <link rel="shortcut icon" href="{{ url_for('send_static', path='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('send_static', path='css/style.css') }}" />
        <link rel="stylesheet" href="{{ url_for('send_static', path='css/bootstrap.min.css') }}" />
    </head>
    <body>
        <h2>OAbot</h2>
        <h3>Oops! Something went wrong.</h3>
        <p>Error:<br />
        {% autoescape false %}{{ message }}{% endautoescape %}</p>
        <div class="report-error">If you don't think you should be seeing this error please <a href="https://phabricator.wikimedia.org/maniphest/task/edit/form/1/?projects=OABot">report it on Phabricator</a>.</div>
    </body>
</html>

