<!doctype html>
<html>

<head>
    <title>OAbot</title>
    <link rel="shortcut icon" href="{{ url_for('send_static', path='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('send_static', path='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('send_static', path='css/bootstrap.min.css') }}" />
</head>

<body>
    {% if username %}
    <p class="loginsection">
        Logged in as <a href="https://en.wikipedia.org/wiki/User:{{ username }}">{{ username }}</a>
        (<a href="{{ url_for('logout') }}">logout</a>).
    </p>
    {% endif %}

    <a id="logo" href="http://www.oabot.org">
        <img src="{{ url_for('send_static', path='oabot_orange_text_above.svg') }}" alt="OAbot" width="100px" height="100px">
    </a>

    {% if success == 'true' %}
    <div class="success">
        Edit successfully performed
    </div>
    {% elif success == 'nothing' %}
    <div class="success">
        Oops! No edit was made. Someone may have fixed that link already.  We're working on this.  Please try another!
    </div>
    {% endif %}
    <br />

    <p id="description">
        We think we've found an open access version of an article cited on Wikipedia!
        <br />
        Can you review our guess and edit Wikipedia to include a link to it?
        <br />
        <br />
    </p>


    <div class="startbutton">
        <form action="{{ url_for('get_random_edit') }}">
            <input type="submit" class="btn btn-success" value="{% if username %}Start editing a random page!{% else %}Log in{% endif %}" />
        </form>
    </div>
    <br />
    <br />
    <br />
    <br />
    <p class="center">
        <a href="https://en.wikipedia.org/w/index.php?title=Special:RecentChanges&amp;tagfilter=OAuth+CID:+1779">Recent edits made with OAbot</a> -
        <a href="{{ url_for('stats') }}">Leaderboard</a>
    </p>

    <p class="center">
        <a href="https://github.com/dissemin/oabot">Code on GitHub</a> -
        <a href="https://phabricator.wikimedia.org/tag/oabot">Open tasks</a> -
        <a href="https://phabricator.wikimedia.org/maniphest/task/edit/form/1/?projects=OABot">Report a bug</a> -
        <a href="https://association.dissem.in/index.html.en">A CAPSH project</a> -
        <a href="https://tools.wmflabs.org/">Hosted on Toolforge</a> -
        Logo CC-BY-SA <a href="http://dougdworkin.com/">Doug Dworkin</a>
    </p>

</body>

</html>
